:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --heading-font-family: "DM Serif Display", serif;
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  color: white;
}
h1 {
  font-family: var(--heading-font-family);
}
h2,
h3 {
  font-family: var(--primary-font-family);
}
p,
h4,
h5 {
  font-family: var(--secondary-font-family);
}
a {
  font-family: var(--secondary-font-family);
  color: white;
}
footer {
  margin: 50px auto 50px;
}

.hero {
  padding: 170px 0;
  text-align: center;
  color: white;
}
.hero h1 {
  font-size: 100px;
}
.hero h2 {
  font-size: 32px;
  line-height: 1.5;
}
.hero h3 {
  font-size: 60px;
}
.branding-button {
  padding: 15px 30px;
  font-family: var(--secondary-font-family);
  font-size: 20px;
}
.content h4 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.content h5 {
  font-size: 18px;
  text-align: center;
}
.content p {
  font-size: 15px;

  text-align: center;
}
footer .email-link {
  font-size: 24px;
  text-decoration: none;
}
footer .social-media-links a {
  font-size: 32px;
  margin: 15px;
}
@media (max-width: 768px) {
  .hero {
    padding: 80px 10px 100px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 30px;
  }
}
