:root {
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --heading-font-family: "DM Serif Display", serif;
}
body {
  background: #222831;
  color: white;
}

h1 {
  font-family: var(--heading-font-family);
}
h2,
h3,
h4,
h5 {
  font-family: var(--primary-font-family);
}
p {
  font-family: var(--secondary-font-family);
}

.hero {
  padding: 170px 0 130px;
  text-align: center;
}
.hero h1 {
  font-size: 100px;
}
.hero h2 {
  font-size: 40px;
}
.hero h3 {
  font-size: 60px;
}
.content h4 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.content h5 {
  font-size: 18px;
  text-align: center;
  opacity: 0.7;
}
.content p {
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
}
