:root {
  --branding-color: #facf0f;
  --primary-font-family: "Poppins", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
  --heading-font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: var(--heading-font-family);
}
h2,
h3 {
  font-family: var(--primary-font-family);
}
p,
h4,
h5 {
  font-family: var(--secondary-font-family);
}
a {
  font-family: var(--secondary-font-family);
}
footer {
  margin: 50px auto 50px;
}

.hero {
  background: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  padding: 170px 0 255px;
  text-align: center;
}
.hero h1 {
  font-size: 100px;
}
.hero h2 {
  font-size: 32px;
  line-height: 1.5;
}
.hero h3 {
  font-size: 60px;
}
.branding-button {
  padding: 15px 30px;
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: 600;
  background: var(--branding-color);
  border: none;
  box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
  text-transform: uppercase;
  transition: all 100ms ease-in;
}
.content .content-container {
  padding: 70px;
}

.content h3 {
  font-size: 28px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--branding-color);
}
.content h4 {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
.content h5 {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}
.content p {
  font-size: 17px;
  opacity: 0.7;
}
footer .email-link {
  font-size: 24px;
  text-decoration: none;
}
footer .social-media-links a {
  font-size: 32px;
  margin: 15px;
}
@media (max-width: 768px) {
  .hero {
    padding: 80px 10px 100px;
  }
  .hero h1 {
    font-size: 40px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero h3 {
    font-size: 30px;
  }
}
